.card {
  transition: transform 0.2s, box-shadow 0.2s;
  outline: 1px solid black;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    .card-footer {
      opacity: 1;
    }
  }

  .card-footer {
    outline: 0.5px solid black;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: #333;
  }

  .card-subtitle {
    margin-bottom: 1rem;
  }

  .card-text {
    margin-bottom: 1rem;
  }

  .badge {
    font-size: 90%;
  }
}
