{% extends 'base.html.twig' %}

{% block title %}Document List{% endblock %}

{% block content %}
        <div class="container">
            <div class="d-flex justify-content-end py-3 align-items-center">
                <div class="d-flex align-items-center">
                    <div class="btn btn-outline-dark btn-sm ms-2 d-flex align-items-center" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white;">
                        <twig:ux:icon name="tabler:search" class="icon-sm" />
                        <span class="ms-2" style="color: black;">Search</span>
                    </div>
                </div>
                <div class="dropdown d-flex align-items-center ms-4">
                    <div class="btn btn-outline-dark btn-sm dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" style="background-color: white;">
                        <twig:ux:icon name="tabler:filter" class="icon-sm" />
                        <span class="ms-2" style="color: black;">Filter</span>
                    </div>
                    <div class="dropdown-menu p-3">
                        <input type="text" class="form-control" placeholder="Search..." />
                    </div>
                </div>
                <div class="d-flex align-items-center ms-4">
                    <div class="btn btn-outline-dark btn-sm d-flex align-items-center" style="background-color: white;">
                        <twig:ux:icon name="tabler:sort-descending-2" class="icon-sm" />
                        <span class="ms-2" style="color: black;">Sort</span>
                    </div>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for document in documents %}
                    <div class="col">
                        {{ component('document_view_card', {
                            name: document.name,
                            author: document.author,
                            status: document.status,
                            total_files: document.total_files,
                            tags: document.tags,
                            shared_to: document.shared_to
                        }) }}
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
